html,
body {
  height: 100%;
  /* Setzt die Höhe auf den gesamten verfügbaren Bildschirm */
  margin: 0;
  /* Entfernt den Standard-Margin des Browsers */
  padding: 0;
  /* Entfernt den Standard-Padding des Browsers */
}

.nav-link {
  margin-left: 20px;
  /* Fügt links zusätzlichen Innenabstand hinzu */
}

nav.navbar {
  position: fixed;
  /* Fixiert die Navbar oben auf der Seite */
  width: 100%;
  /* Lässt die Navbar die gesamte Breite einnehmen */
  z-index: 1000;
  /* Stellt sicher, dass die Navbar über anderen Inhalten bleibt */
  background-color: rgba(45, 98, 159, 0.7);
  /* Halten Sie die Transparenz */
  backdrop-filter: blur(5px);
  /* Fügt einen leichten Blur-Effekt hinzu */
}

main {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#logo {
  width: 180px;
  height: 40px;
}

#map {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*------------------------------------------------------------------------*/
/* Ladekreis */
/*------------------------------------------------------------------------*/
#loadingCircle {
  border: 5px solid #f3f3f3; /* Heller grauer Rand */
  border-top: 5px solid #3498db; /* Blaue Farbe für den rotierenden Teil */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute; /* Positioniere den Ladekreis relativ zum nächsten positionierten Elternteil */
  top: 50%;          /* Zentriere vertikal */
  left: 50%;         /* Zentriere horizontal */
  margin-top: -25px;  /* Verschiebe um die halbe Höhe nach oben */
  margin-left: -25px; /* Verschiebe um die halbe Breite nach links */
  z-index: 1001;      /* Stelle sicher, dass er über anderen Elementen liegt */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*------------------------------------------------------------------------*/
/* Layer Selection Style */
/*------------------------------------------------------------------------*/
.modal-content {
  background-color: #f8f9fa;
  border-radius: 5px; /* Reduced rounded corners */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.modal-header {
  border-bottom: 1px solid #dee2e6;
  padding: 15px 20px;
}
.modal-title {
  font-size: 0.9rem; /* Smaller title size */
  font-weight: bold;
  color: #2d629f;
}
.modal-footer {
  border-top: 1px solid #dee2e6;
  padding: 15px 20px;
}
#categories .category-section {
  display: block;
  width: 100%;
}
#categories button {
  border-radius: 5px; /* Match modal corner style */
}
.subcategories .form-check {
  margin-bottom: 10px;
  padding-left: 20px; /* Indent subcategories */
}
.subcategories {
  border-left: 2px solid #dee2e6;
  margin-left: 10px;
  padding-left: 10px;
}

/*------------------------------------------------------------------------*/
/* Upload Selection Style */
/*------------------------------------------------------------------------*/

/*------------------------------------------------------------------------*/
/* NDVI Selection Style */
/*------------------------------------------------------------------------*/


/*------------------------------------------------------------------------*/
/* Define breakpoints for different screen sizes */
.leaflet-control-zoom {
  position: absolute;
  top: 70px;
  right: 10px;
  left: auto;
  transition: top 0.3s ease;
}
.layer-button-container,
.upload-button-container,
.ndvi-button-container {
  position: absolute;
  top: 70px;
  left: 10px;
  transition: top 0.3s ease; /* For smooth transition when position changes */
}

/* Default positions for larger screens */
.layer-button-container {
  top: 70px;
}
.upload-button-container {
  top: 110px;
}
.ndvi-button-container {
  top: 150px;
}


/* Adjust positions when the navbar toggles (on mobile) */
@media (max-width: 992px) {
  .layer-button-container {
    top: 180px;
  }
  .upload-button-container {
    top: 220px;
  }
  .ndvi-button-container {
    top: 260px;
  }
}

@media (max-width: 768px) {
  .layer-button-container {
    top: 180px; /* Adjusted for small screens */
  }
  .upload-button-container {
    top: 220px;
  }
  .ndvi-button-container {
    top: 260px;
  }
}

@media (max-width: 576px) {
  .layer-button-container {
    top: 180px;
  }
  .upload-button-container {
    top: 220px;
  }
  .ndvi-button-container {
    top: 260px;
  }
}