html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-link {
  margin-left: 20px;
}

nav.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: rgba(45, 98, 159, 0.7);
  backdrop-filter: blur(5px);
}

main {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#logo {
  width: 180px;
  height: 40px;
}

#map {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*------------------------------------------------------------------------*/
/* Ladekreis */
/*------------------------------------------------------------------------*/
#loadingCircle {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 1001;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*------------------------------------------------------------------------*/
/* Layer-Auswahl Style */
/*------------------------------------------------------------------------*/
.modal-content {
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-header {
  border-bottom: 1px solid #dee2e6;
  padding: 15px 20px;
}

.modal-title {
  font-size: 0.9rem;
  font-weight: bold;
  color: #2d629f;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
  padding: 15px 20px;
}

#categories .category-section {
  display: block;
  width: 100%;
}

#categories button {
  border-radius: 5px;
}

.subcategories .form-check {
  margin-bottom: 10px;
  padding-left: 20px;
}

.subcategories {
  border-left: 2px solid #dee2e6;
  margin-left: 10px;
  padding-left: 10px;
}

.leaflet-control-zoom {
  position: absolute;
  top: 70px;
  right: 10px;
  left: auto;
  transition: top 0.3s ease;
}

.layer-button-container,
.upload-button-container,
.ndvi-button-container {
  position: absolute;
  top: 70px;
  left: 10px;
  transition: top 0.3s ease;
}


/* Default Position für großen Bildschirm */
.layer-button-container {
  top: 70px;
}

.upload-button-container {
  top: 110px;
}

.ndvi-button-container {
  top: 150px;
}


/* Responsive Design */
/* Umbruchpunkte für verschiedene Bildschirmgrößen */
@media (max-width: 1100px) {
  .modal-dialog {
    left: 10% !important;
  }
}


@media (max-width: 992px) {
  .layer-button-container {
    top: 180px;
  }

  .upload-button-container {
    top: 220px;
  }

  .ndvi-button-container {
    top: 260px;
  }

  .modal-dialog {
    left: 10% !important;
  }
}


@media (max-width: 768px) {
  .layer-button-container {
    top: 180px;
  }

  .upload-button-container {
    top: 220px;
  }

  .ndvi-button-container {
    top: 260px;
  }

  .modal-dialog {
    left: 10% !important;
  }
}


@media (max-width: 576px) {
  .layer-button-container {
    top: 180px;
  }

  .upload-button-container {
    top: 220px;
  }

  .ndvi-button-container {
    top: 260px;
  }

  .modal-dialog {
    left: 12% !important;
  }
}